version: "3.9"

services:
  app:
    build: .
    container_name: campus_app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: redis_local
    ports:
      - "6379:6379"
