version: "3.9"

services:
  app:
    build: .
    container_name: vnit-map-backend
    ports:
      - "9000:8000"
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev

  redis:
    image: redis:latest
    container_name: redis-server
    ports:
      - "6379:6379"
